<!-- Header -->
<header class="header" id="site-header">
    <div class="container">
        <div class="header-content-wrapper">
           <app-cart-status></app-cart-status>
        </div>
    </div>
</header>

<div class="content-wrapper">
    <div class="container">
        <div class="row pt120">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="heading align-center mb60">
                    <h4 class="h1 heading-title">E-commerce Spring & Angular </h4>
                    <p class="heading-text">Buy books, and we ship to you.
                    </p>
                    <app-search></app-search>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->

    <!-- Main Content -->

    <router-outlet></router-outlet>

</div>
<!-- End Main Content -->

<!-- Footer -->
<footer class="footer">
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>
            </div>
        </div>
    </div>
</footer>